{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" width="150" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Suresh Kumar">
        </div>
        <h3><strong>{{ .Site.Params.author }}</strong>.</h3>
        <h3><strong>Software developer</strong> by profession. <strong>Maker</strong> by passion. I love creating micro apps for the web. <strong>Jack of <em>all</em> trades</strong>. I'm passionate about programming, blogging, photography and memes.</h3>

        <h3>Contact me on <a href="http://linkedin.com/in/{{ .Site.Params.Social.Linkedin }}">LinkedIn</a></h3>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
