{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" width="150" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Suresh Kumar">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Fullstack Web Developer.</h3>
        <h3>Jack of all trades, master of few<sup>*</sup>. I love the web. I'm passionate about blogging, marketing technology and machine learning.</h3>
        <h3>Contact me at <a href="http://linkedin.com/in/{{ .Site.Params.Social.Linkedin }}">@{{ .Site.Params.Social.Twitter }}</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
